/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-dark-100: #f0f6fc;
	--color-dark-200: #c9d1d9;
	--color-dark-300: #8b949e;
	--color-dark-400: #6e7681;
	--color-dark-500: #484f58;
	--color-dark-600: #30363d;
	--color-dark-700: #21262d;
	--color-dark-800: #161b22;
	--color-dark-900: #0d1117;
}